name: On Pull Request

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
  merge_group:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  onPullRequestJob:
    env:
      ANDROID_HOME: ${{ github.workspace }}/bin/androidSdk
      GITHUB_ACTOR: ${{ secrets.MODULE_FETCH_TOKEN_USERNAME}}
      GITHUB_TOKEN: ${{ secrets.MODULE_FETCH_TOKEN }}
    name: Verify code base when pull request is published/updated
    runs-on: ubuntu-22.04
    #    runs-on: ubuntu-20.04-16core # Larger github runner, with KVM acceleration
    steps:
      - name: Checkout codebase
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          lfs: 'true'
          submodules: 'true'
          fetch-depth: 0

      - name: Clean workspace
        uses: ./mobile-android-pipelines/actions/clean-workspace

      - name: Setup GitHub Runner workflow
        uses: ./mobile-android-pipelines/actions/setup-runner
        with:
          gradle-cache-disabled: ${{ inputs.GRADLE_CACHE_DISABLED }}

      - name: Verify Conventional commit standards against latest git tag
        uses: ./mobile-android-pipelines/actions/verify-conventional-commit

      - name: Lint script files
        uses: ./mobile-android-pipelines/actions/lint

      - name: Run gradle testing suite
        uses: ./config/run-testing-suite

      - name: Increment the release version using Conventional Commits
        id: versioning
        if: ${{ github.event_name != 'pull_request' }}
        uses: ./mobile-android-pipelines/actions/increment-version

      - name: Sonar scan
        uses: ./mobile-android-pipelines/actions/sonar-scan
        with:
          sonar-token: ${{ inputs.SONAR_TOKEN }}
          version-name: ${{ steps.versioning.outputs.new_version }}

      - name: Bundle reports folder
        uses: ./mobile-android-pipelines/actions/bundle-reports

      - name: Publish release tags
        if: ${{ github.event_name != 'pull_request'
          && steps.versioning.outputs.current_version != steps.versioning.outputs.new_version }}
        uses: ./mobile-android-pipelines/actions/publish-release-tag

      - name: Test local publish
        if: ${{ github.event_name == 'pull_request' }}
        uses: ./mobile-android-pipelines/actions/maven-publish-local
        with:
          version-name: ${{ steps.versioning.outputs.new_version }}

      - name: Publish package
        if: ${{ github.event_name != 'pull_request'
          && steps.versioning.outputs.current_version != steps.versioning.outputs.new_version }}
        uses: ./mobile-android-pipelines/actions/maven-publish
        with:
          GITHUB_TOKEN: ${{ inputs.GITHUB_TOKEN }}
          GITHUB_ACTOR: ${{ github.actor }}
          VERSION_NAME: ${{ steps.versioning.outputs.new_version }}

      - name: Generate Changelog
        uses: ./mobile-android-pipelines/actions/generate-and-upload-changelog
        with:
          current-version: ${{ steps.versioning.outputs.current_version }}
          new-version: ${{ steps.versioning.outputs.new_version }}
          version-prefix: ${{ inputs.VERSION_PREFIX }}

      - name: Clean workspace
        uses: ./mobile-android-pipelines/actions/clean-workspace